{% extends 'base.html' %}

{% load static %}

{% block title %}minesweeper{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'minesweeper/style.css' %}">
{% endblock head %}

{% block content %}
<h1 id="title">지뢰찾기</h1>

<div id="area">
    가로 크기: <input type="number" id="size-width" value="16"><br/>
    세로 크기: <input type="number" id="size-height" value="16"><br/>
    지뢰 개수: <input type="number" id="num" value="40">
    <div id="startBtn" class="button"><strong>시작</strong></div>
</div>
<h3 id="end"></h3>

<p><a href="{% url 'lobby:index' %}">Back to lobby</a></p>

<script src="{% static 'minesweeper/script.js' %}"></script>
{% endblock content %}
