{% extends 'base.html' %}

{% load static %}

{% block title %}minesweeper{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'minesweeper/style.css' %}">
{% endblock head %}

{% block content %}
<h1>Play minesweeper game</h1>

<div id="area">
    크기: <input type="number" id="size"><br/>
    지뢰 개수: <input type="number" id="num">
    <div id="startBtn" class="button"><strong>시작</strong></div>
</div>

<p><a href="{% url 'lobby:index' %}">Back to lobby</a></p>

<script src="{% static 'minesweeper/script.js' %}"></script>
{% endblock content %}
