{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lobby/style.css' %}" />
{% endblock head %}

{% block content %}
<main>
  <section>
    <div class="center">
      <h1>Lobby Page</h1>
      {% if user.is_authenticated %}
      <p id="login-message">Logged in as {{ user.username }}</p>
      {% else %}
      <p>
        <a href="{% url 'lobby:login' %}"><button>Sign in</button></a>
        <a href="{% url 'lobby:signup' %}"><button>Sign up</button></a>
      </p>
      {% endif %}
      <p>
        <a href="{% url 'minesweeper:index' %}"
          ><button>Play minesweeper</button></a
        >
      </p>
      <p>
        <a href="{% url 'omok:index' %}"><button>Play omok</button></a>
      </p>
    </div>
  </section>
</main>
{% endblock content %}
